<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gmail</title>

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="dist/css/style.css">

    <!-- JS -->
    <script src="dist/js/jquery.js"></script>
    <script src="dist/js/script.js"></script>
</head>

<body>

    <div class="container">
        <h3>App Gmail</h3>
        <!-- <h4>App Gmail Mobile</h4> -->

        <div id="frame">

            <div class="button">
                <div class="delete">
                    Delete
                </div>
            </div>

            <div class="list-gmail">

                <div class="list" id="1">
                    <div class="icon">T</div>
                    <div class="content">
                        <h5 class="sender">Tria Bagus</h5>
                        <h6 class="title">Welcome to my app</h6>
                        <p>
                            Hi, How are you ? thanks for use my app
                        </p>
                    </div>
                </div>

                <div class="list" id="2">
                    <div class="icon">L</div>
                    <div class="content">
                        <h5 class="sender">Tria Bagus</h5>
                        <h6 class="title">Welcome to my app</h6>
                        <p>
                            Hi, How are you ? thanks for use my app
                        </p>
                    </div>
                </div>

                <div class="list" id="3">
                    <div class="icon">C</div>
                    <div class="content">
                        <h5 class="sender">Tria Bagus</h5>
                        <h6 class="title">Welcome to my app</h6>
                        <p>
                            Hi, How are you ? thanks for use my app
                        </p>
                    </div>
                </div>

                <!-- Data List  All-->
            </div>
        </div>
    </div>

</body>

</html>